@charset "utf-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 11, 2022, 6:35:39 PM
    Author     : wallr
*/

body{

}
h1,h2,h3,h4,h5{
    color:black;
}
h1{
    padding: 20px;
}
.wrapper{
    background-color:#98989894;
    display:block;
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    text-align:left;
    word-wrap:break-word;
}



/* Back to Top */
#backtotop{
    z-index:999;
    display:inline-block;
    position:fixed;
    visibility:hidden;
    bottom:20px;
    right:20px;
    width:36px;
    height:36px;
    line-height:36px;
    font-size:16px;
    text-align:center;
    opacity:.2;
}
#backtotop i{
    display:block;
    width:100%;
    height:100%;
    line-height:inherit;
}
#backtotop.visible{
    visibility:visible;
    opacity:.5;
}
#backtotop:hover{
    opacity:1;
}
.content h2{
    margin-top:5%;
    margin-bottom: 5%;
}
.content ul li{
    margin-left:5rem;
}
.content ul li{
    padding:1rem;
    list-style: none;
    border: 2px solid #b7b7b7;
}
.content ul li svg{
    width: 50px;
    height: 50px;
}
.content .card-body{
    min-height: 350px;
}
.card-footer{
    background-color: #00ff515e
}
.resulting .card-body span{
    padding:20px;
}
.resulting .card-body span.second-level{
    padding:50px;
}
.resulting .card-body span.third-level{
    padding:80px;
}
